
/* About Section styles */
.about4-content {
    display: flex;
    align-items: center;
    width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
}

.about4-image {
    flex: 1;
    position: absolute;
    top: 4880px;
    left: 0px;
    margin-right: 20px;
    /* background-color: black; */
    /* margin: 500px; */
}

#about4-img1 {
    max-width: 750px;
    /* height: auto; */
    max-height: auto; /* Set the desired height */
}

.about4-txt {
    display: block;
    width: 600px;
    left: 900px;
    position: absolute;
}

#about4-h1 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #eba31f;
}

#about4-p {
    font-size: 1.8rem;
    text-align:justify;
    color: black;
    margin: 1px;
}

.about4-button{
    text-align: left;
}
